@import url('https://fonts.googleapis.com/css?family=Arbutus%20Slab:700|Bellota%20Text:400');
@import url('https://fonts.googleapis.com/css?family=Antic%20Slab:700|Montserrat:400');/* General Styling */
:root {
--text: #f1eae3;
--background: hsl(34, 44%, 7%);
--primary: hsl(36, 43%, 72%);
--primaryLighter: hsl(36, 43%, 82%);
--primaryDarker: hsl(36, 43%, 62%);
--primaryDarkest: hsl(36, 43%, 28%);
--secondary: hsl(66, 35%, 33%);
--secondaryLighter: hsl(66, 35%, 38%);
--accent: #91ac53;
--accentLighter: hsl(79, 35%, 60%);
}

* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "montserrat", sans-serif;
    color: var(--background);
}

h2, h4, h5 {
  color: var(--background);
}

h1 {  font-family: "montserrat", sans-serif; font-weight: 700; font-size: 4.21rem;}
h2 {  font-size: 30px; }

li {
    list-style: none;
}

body {
    background-color: var(--primaryLighter);
    color: var(--text);
}


/* Header */
.nameBarBox {
    background-color: var(--primaryLighter);
    border-bottom: var(--primaryLighter) solid 2px;
    box-shadow: 0 0 1px black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    opacity: 95%;
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(50%);
}

#nameBarBoxDupe {
    display: none;
    background-color: var(--primary);
    width: 100%;
    top: 0;
    height: 33px;
    z-index: 0;
    position:fixed;
}

#nameBar {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

#g-icon {
    color: var(--background);
    font-size: 1.1rem;
}
#g-icon-holder {
    padding: 10px; margin: 0 10px;    
    border: solid black 2px;
    background-color: goldenrod;
}
#name {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; color: var(--primary);
    letter-spacing: 1px; 
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--background);
    opacity: 100%;

}

#topBar-items {
    display: flex;
    justify-content: space-between;    
    text-transform:uppercase;
}
#dark {
    font-size: 1.2rem;
    margin: 0 20px;
    padding: 0 10px;
    cursor: pointer;
}

#light {
    font-size: 1.2rem;
    margin: 0 20px;
    padding: 0 10px;
    cursor: pointer;
    display: none;
    color: goldenrod;

}

#light:hover {

}

#dark:hover {

}

.h-navs a {
    color: var(--background);
    padding: 0px 20px;
    margin-right: 5px;
    box-shadow: 0 0 10px var(--primaryLighter);
}

#contactButton {
    border: var(--background) solid 2px;
    box-shadow: 0 0 2px black;
    background-color: var(--background);
    margin: 0 10px;
    color: var(--primaryLighter);
    font-size: 1rem;
}
#contactButton, #m-button {
    position: relative;
    font-size: 1rem;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}
#contactButton:hover {
    background-color: goldenrod;
    border: var(--background) solid 2px;
    box-shadow: 0 0 2px black;
    opacity: 90%;
    color: var(--background);
}

#contactButton:active, #downArrow:active {
    opacity: 50%;
    transform: translateY(2px);

}

.h-navs a:hover {
    color: black;
    transform: translateY(-2px);
    padding: 0 19px;
    border-left: solid 1px var(--background);
    border-right: solid 1px var(--background);


}

.h-navs a:active {
    color: var(--primaryLighter);
}



/* Main */
#heroToCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ? Hero Section */
/* ! Hero Section Left side (Image) */
.hero-card {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 5px;
    height:84vh;
    width: 90vw;
    box-shadow: 0 0 1px black;
    /* display: none; */
}

#imgContainerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 3 / span 2;

}

.img-container {
    transition: all 0.1s ease-in-out;

    border-radius: 120px;
    box-shadow: 0 0 15px var(--primaryDarkest);
    width: 350px;
    height: 350px;
    margin-left: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
}

.img-container:hover {
    transition: all 0.1s ease-in-out;
    width: 356px;
    height: 356px;
    box-shadow: 0 0 15px black;
}

.img-container img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    object-fit:cover;
}
/* ! Hero Right Side (text) */
#heroName {
    cursor: default;
}

#heroTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    grid-column: 6 / span 6;
    margin-left: 50px;
}

.heroText {
    font-size: 1.25rem;
    padding: 10px;
    cursor: default;
}
/* ! Landing page Down button*/
#heroArrow {
    margin-top: 25px;
    background-color: var(--background);
    border: var(--background) 2px solid;
    box-shadow: 0 0 2px black;
    color: var(--primary);
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor:pointer;

}
#heroArrow:hover {
    background-color: goldenrod;
    box-shadow: 0 0 2px rgb(255, 255, 255);
    color: black;
}

/* ! End of Button Section */
/* ? end of hero */

#pageDivider {
    width: 100vw;
    height: 8vh;
    background-color: var(--background);
    display: none;
    z-index: 1000;
}
/* ? About Me Section */
#aboutToCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutMeBox {
    display: none;
    padding: 20px;

    font-size: 1.2rem;
    cursor: default;
    height: 92vh;
    width: 80vw;
    
}

#aboutMe {
    display: flex;
    text-align:center;
}

#aboutMeHeader {
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryLighter);

}
/* ! Tech Stack Section */

#techStackHeaderBox {
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px;

    color: var(--primary);
    background-color: goldenrod;
    border: 2px solid var(--background);
    width: 410px;
}

#techStackHeader {
    color: var(--background);
    font-weight: bolder;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

#techStackBox {
    flex-direction: column;
    box-shadow: 0 0 5px var(--background);
    cursor: default;
    margin-left: 100px;
    /* display: none; */

}
#techStack {
    height: 410px;
    width: 410px;
}
.codingLanguages {
    grid-column: span 2;
}

/* ! Tech Stack Icon Styling */
.icon {
    gap: 5px;
    color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;

}



.icon:hover, #light:hover, #dark:hover, #g-icon-holder:hover { 
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}
.fa-js {
    color: rgb(243, 184, 36);

}

.fa-react {
    color: hsl(183, 57%, 49%);
}
.fa-python {
    color: rgb(243, 184, 36);

}
.fa-css3-alt {
    color: hsl(220, 89%, 65%);
}

.fa-html5 {
    color: hsl(24, 100%, 55%);
}
.fa-node-js {
    color: hsl(79, 73%, 25%);
}
.fa-brands {
    text-decoration: none;
    font-size: 2rem;
    font-style: none;
}
 .fa-git-alt{
    color: hsl(24, 100%, 55%);
}

.fa-database {
    color: hsl(183, 57%, 49%);
}

.fa-code {
    font-size: 1.2rem;
}
/* ? End of About Section */

#footerToCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}
#footerBox {
    display: flex;
    justify-content: end;
    width: 90vw;
    background-color: var(--background);
}

#socialmedia {
    display: flex;
    align-items: space-around;
    gap: 50px;
    height: 8vh;
}

#socialmedia .fa-brands:hover {
    color: goldenrod;
}
#socialmedia .fa-brands:active {
    color: gold;
}
.social-icons {
    color: var(--primary);
}