@import url('https://fonts.googleapis.com/css?family=Arbutus%20Slab:700|Bellota%20Text:400');
@import url('https://fonts.googleapis.com/css?family=Antic%20Slab:700|Montserrat:400');/* General Styling */
:root {
--text: #f1eae3;
--darkModeDark: hsl(45, 17%, 9%);
--backgroundTP: rgba(220, 202, 172, 0.90);
--background: hsl(34, 44%, 7%);
--primary: hsl(36, 43%, 72%);
--primaryLighter: hsl(36, 43%, 82%);
--primaryLightest: hsl(36, 43%, 92%);
--primaryDarker: hsl(36, 43%, 67%);
--primaryDarkest: hsl(36, 43%, 28%);
--secondary: hsl(66, 35%, 33%);
--secondaryLighter: hsl(66, 35%, 38%);
--accent: #91ac53;
--accentLighter: hsl(79, 35%, 60%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "montserrat", sans-serif;
}


h1 {  font-size: 4.21rem;}
h2 {  font-size: 50px; }

li {
    list-style: none;
}

body {
    background-color: var(--primaryLighter);
    color: var(--background);
}


/* Header */
#nameBarBox {
    background-color: var(--backgroundTP);
    box-shadow: 0 0 2px black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    backdrop-filter: blur(5px);
}

#nameBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#g-icon-holder:hover { 
    transition: all 0.1s ease-in-out;
    transform: scale(1.1);
}

#g-icon {
    color: var(--background);
    font-size: 1.1rem;
}
#g-icon-holder {
    padding: 10px; margin: 0 10px;    
    border: solid black 3px;
    background-color: goldenrod;
    cursor: pointer;
}
#name {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    letter-spacing: 1px; 
    font-weight: 400;
    font-size: 1.3rem;
    opacity: 100%;
}

#topBar-items {
    display: flex;
    justify-content: space-between;    
    text-transform:uppercase;
}
#dark {
    font-size: 1.4rem;
    margin: 0 20px;
    padding: 0 10px;
    color: var(--background);
    cursor: pointer;
}

#light {
    font-size: 1.4rem;
    margin: 0 20px;
    padding: 0 10px;
    cursor: pointer;
    display: none;
    color: goldenrod;

}


.headerNavs {
    padding: 0px 20px;
    margin-right: 5px;
    cursor: pointer;
}

#contactButton {
    border: black solid 3px;

    background-color: goldenrod; 
    margin: 0 10px;
    color: var(--darkModeDark);
    font-size: 1rem;
}
#contactButton {
    position: relative;
    font-size: 1rem;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
}
#contactButton:hover {
    background-color: hsl(45, 17%, 24%);
    border: black solid 3px;
    box-shadow: 0 0 1px black;
    opacity: 90%;
    color: var(--primaryLighter);
}

.headerNavs:hover {
    color: black;
    transform: translateY(-2px);
    padding: 0 19px;
    border-left: solid 1px var(--background);
    border-right: solid 1px var(--background);


}

.headerNavs:active {
    color: var(--primaryLighter);
}


/* Main */
#mainSection {
    box-shadow: 0 0 2px black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;

}
#heroToCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ? Hero Section */
/* ! Hero Section Left side (Image) */
#heroBox {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    height:92vh;

    align-content: center;
    /* display: none; */
}

#imgContainerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: span 6;

}

#imgContainer {
    transition: all 0.1s ease-in-out;
    border-radius: 120px;
    box-shadow: 0 0 20px hsl(45,17%,19%);
    width: 350px;
    height: 350px;
    margin-left: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
}

#imgContainer:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);

    box-shadow: 0 0 25px 0 black;
}

#imgContainer img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    object-fit:cover;
}
/* ! Hero Right Side (text) */
#heroName {
    cursor: default;
}

#heroTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    grid-column: 7 / span 6;

}
/* ! First order of business tomorrow */
/*  #socialMediaHeroBox {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-column: 12 /span 1;
    background-color: red;

}

#socialMediaHero {
    position: relative;
    gap: 50px;
} 
.socialIconsHero {
    color: var(--darkModeDark);
} */

.heroText {
    font-size: 1.25rem;
    padding: 10px;
    cursor: default;
}
.highlightText {
    font-size: 1.3rem;
    text-decoration: underline;
}


/* ! Landing page Down button*/
#heroArrow {
    margin-top: 25px;
    background-color: goldenrod;   
    border: black 3px solid;
    box-shadow: 0 0 2px black;
    color: var(--darkModeDark);
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor:pointer;

}
#heroArrow:hover {
    background-color: hsl(45, 17%, 24%);
    border: solid 3px black;
    box-shadow: 0 0 2px black;
    color: var(--primaryLighter);
    opacity: 95%;
}

/* ! End of Button Section */
/* ? end of hero */

/* ? About Me Section */
#aboutToCenter {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutMeBox {
    display: none;
    padding: 0 100px;
    margin: 0;
    font-size: 1.2rem;
    cursor: default;
    height: 92vh;

    align-items: center;
    justify-content: center;
}

#aboutMe {
    text-align:left;
}

#aboutMeHeaderBox {
    text-align: center;
}
#aboutMeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* ! Tech Stack Section */

#techStackHeaderBox {
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px;

    background-color: goldenrod;
    border-bottom: 1px solid black;


}

#techStackHeader {
    font-size: 1.5rem;
    word-spacing: 2px;
    color: var(--darkModeDark);
}

#techStackBox {
    flex-direction: column;
    box-shadow: 0 0 5px var(--background);
    cursor: default;
    margin-left: 100px;
    /* display: none; */

}
#techStack {
    height: 320px;
    width: 320px;
}
.codingLanguages {
    grid-column: span 2;
}

/* ! Tech Stack Icon Styling */
.icon {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.icon:hover, #light:hover, #dark:hover { 
    transition: all 0.1s ease-in-out;
    transform: scale(1.15);
}

.fa-js {
    color: black;
}
.fa-react {
    color: hsl(183, 57%, 49%);
}
.fa-python {
    color: black;

}
.fa-css3-alt {
    color: hsl(220, 89%, 65%);
}

.fa-html5 {
    color: hsl(24, 100%, 55%);
}
.fa-node-js {
    color: hsl(79, 73%, 25%);
}
.fa-brands {
    text-decoration: none;
    font-size: 2rem;
    font-style: none;
}
 .fa-git-alt{
    color: hsl(24, 100%, 55%);
}

.fa-database {
    color: hsl(220, 89%, 65%);
}

.fa-code {
    font-size: 1.2rem;
}
/* ! Landing page Down button*/
#aboutArrowBox {
    margin: 30px 0;
}
#aboutArrowBox li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;

}

#aboutArrow {
    align-self: flex-end;
    justify-self: flex-start;
    background-color: goldenrod;
    border:black 3px solid;
    box-shadow: 0 0 2px black;
    color: var(--darkModeDark);
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor:pointer;
    margin-left: 20px;
}
#aboutArrow:hover {
    background-color: hsl(45, 17%, 24%);   
    color: var(--primaryLighter);
    box-shadow: 0 0 2px black;
    border: black solid 3px;
}
#aboutArrow:active, #contactButton:active, #heroArrow:active {
    transform: scale(0.90);
    opacity: 50%;
}

/* ! End of Button Section */
/* ? End of About Section */

/* ? Projects Section */
#projectsToCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projectsBox {
    display: none;
    font-size: 1.2rem;
    cursor: default;
    height: 84vh;

}

#footerToCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(45,17%,5%);   
}
#footerBox {
    position:relative;
    display: none;
    justify-content: end;
    align-items: center;
    width: 90vw;
    height: 8vh;
    background-color: hsl(45,17%,5%);   
}

#socialmedia {
    display: flex;
    align-items: space-around;
    gap: 50px;

}

#socialmedia .fa-brands:hover {
    color: goldenrod;
}
#socialmedia .fa-brands:active {
    color: gold;
}
.social-icons {
    color: var(--primary);
}