@import url('https://fonts.googleapis.com/css?family=Arbutus%20Slab:700|Bellota%20Text:400');
@import url('https://fonts.googleapis.com/css?family=Antic%20Slab:700|Montserrat:400');/* General Styling */
:root {
--text: #f1eae3;
--darkModeDark: hsl(45, 17%, 9%);
--backgroundTP: rgba(220, 202, 172, 0.90);
--background: hsl(34, 44%, 7%);
--primary: hsl(36, 43%, 72%);
--primaryLighter: hsl(36, 43%, 82%);
--primaryLightest: hsl(36, 43%, 92%);
--primaryDarker: hsl(36, 43%, 67%);
--primaryDarkest: hsl(36, 43%, 28%);
--secondary: hsl(66, 35%, 33%);
--secondaryLighter: hsl(66, 35%, 38%);
--accent: #91ac53;
--accentLighter: hsl(79, 35%, 60%);
}

* {
    transition: background-color 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "montserrat", sans-serif;
}


h1 {  font-size: 4.21rem;}
h2 {  font-size: 50px; }

li {
    list-style: none;
}

body {
    background-color: var(--primaryLighter);
    color: black;
}


/* Header */
#hamburgerBox, #hamburgerIcon {
    display: none;
}
#nameBarBox {
    background-color: var(--backgroundTP);
    box-shadow: 0 0 2px black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    z-index: 994;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(3px);
}
#lightGlowBox {
    background-color: transparent;
    height: 8vh;
    display: flex;
    justify-content: end;
    z-index: 900;
    align-items: center;
    position: fixed;
    width: 100%;

}
#lightGlow {
    margin: 0 20px 1px 0;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: yellow;
    box-shadow: yellow 0 0 20px;
}

#nameBar {
    display: flex;
    justify-content: center;
    align-items: center;
}
#g-icon:hover { 
    color: white;
    background-color: rgba(20,19,27,0.95);
    border: solid var(--backgroundTP) 3px;
    transition: all 0.3s ease-in-out;
}

#g-icon {
    padding: 10px; margin-right: 15px;    
    margin-left: 27px;
    border: solid black 3px;
    background-color: goldenrod;
    cursor: pointer;
    font-size: 1.2rem;
    color: black;
}


#headerName {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    letter-spacing: 1px; 
    font-weight: 400;
    font-size: 1.3rem;
    opacity: 100%;
}

#topBar-items {
    display: flex;
    justify-content: space-between;    
    text-transform:uppercase;
}
#dark {
    font-size: 22px;
    margin: 0 30px;
    color: var(--background);
    cursor: pointer;

}

#light {
    font-size: 22px;
    padding: 0 27.1px;
    cursor: pointer;
    display: none;
    color: goldenrod;
}

#contactButton {
    transition: all .1s ease-in-out;
    border: black solid 3px;
    background-color: goldenrod; 
    color: black;
    margin-left: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
#contactButton:hover, #popUpSubmit:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgba(20,19,27,0.95);
    color: white;
    border: 3px solid var(--backgroundTP);
}

.headerNavs {
    padding: 0px 20px;
    margin-right: 5px;
    cursor: pointer;
    font-weight: bold;
}

.headerNavs:hover {
    padding: 0 19px;
}


#projNav {
    padding: 0 18px;
    margin-right: 15px;
}
#projNav:hover {
    padding: 0 17px;
}


/* Main */

#mainSection {

    box-shadow: 0 0 2px black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;

}
#heroToCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* ? Contact Pop Up Section */
#backgroundOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black for dimming */
    backdrop-filter: blur(0px);
    z-index: 995; /* Ensure it's behind the pop-up but above other content */
}

#contactPopUpToCenter {
    display: none;
    position: fixed;
    top: 50%;  /* Centers the pop-up vertically */
    left: 50%; /* Centers the pop-up horizontally */
    transform: translate(-50%, -50%); /* Offsets the pop-up to perfectly center it */
    justify-content: center;
    align-items: center;

    z-index: 1000;
    height: 72%;
    width: 80%;
    overflow: hidden;

    box-shadow: 0 0 20px black;
}
#xIcon {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
}
#popUpIcons {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 10px 0;
}
#contactFormBox {
    position: absolute;
    background-color: rgba(220, 202, 172, 0.8); 
    backdrop-filter: blur(15px);
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 50%;
    padding: 20px;
}
#contactFormHeaderBox {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
#contactFormHeader {
    font-size: 1.5rem;
    font-weight: bold;
}
#popUpFormTextHighlight {
    font-size: 1.1rem;
    color: rgb(89, 0, 0);
}
#contactForm {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 70%;

}

#contactFormBox .inputField {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    font-size: 1rem;
    color: black;

}

#contactPopUpHeaderBox {
    align-self: center;
}
#popUpSubmit, .leftCVButton {
    transition: all 0.3s ease-in-out;
    border: solid black 3px;
    background-color: goldenrod;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}
.leftCVButton {
    display: none;
}
#popUpRightBox {
    background-color: rgba(220, 202, 172);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;


}
#popUpRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
#popUpRightContentBox, #popUpRight {
    font-size: 1.1rem;
}
#popUpRightHeader {
    font-size: 3.5rem;
}
#popUpEmail, #popUpLocation {
    color: maroon;
}
.cvLink {
    display: inline-block;
    padding: 10px 15px;
    border: black 2px solid;
    background-color: goldenrod;
    color: black;
    text-decoration: none;
    border-radius: 5px;

    transition: background-color 0.5s ease;
}

.cvLink:hover {
    background-color: rgba(20,19,27,0.95);
    color: white;
    border: solid var(--backgroundTP) 2px;
}
.cvLink:active {
    opacity: 50%;
}



/* ? Hero Section */
/* ! Hero Section Left side (Image) */
#heroBox {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    height: 92vh;

    align-content: center;
    /* display: none; */
}

#imgContainerBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: span 6;

}

#imgContainer {
    transition: all 0.15s ease-in-out;
    border-radius: 120px;
    box-shadow: 0 0 20px hsl(0, 0%, 0%);
    width: 350px;
    height: 350px;
    margin-left: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-self: center;
}

#imgContainer:hover {
    border-radius: 125px;
    transform: scale(1.05);

    box-shadow: 0 0 35px 0 black;
}

#imgContainer img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    object-fit:cover;
}
/* ! Hero Right Side (text) */
#heroName {
    cursor: default;
    color:rgba(20,19,27,0.95);

}

#heroTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    grid-column: 7 / span 6;

}

.heroText {
    font-size: 1.25rem;
    padding: 10px;
    cursor: default;
}
#highlightText {
    color: maroon;
    font-size: 1.3rem;
}


/* ! Landing page Down button*/
#heroArrow {
    transition: all .2s ease-in-out;
    margin-top: 25px;
    background-color: goldenrod;   
    border: black 3px solid;
    box-shadow: 0 0 2px black;
    color: var(--darkModeDark);
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor:pointer;

}
#heroArrow:hover {
    background-color: rgba(20,19,27,0.95);
    border: solid 3px black;
    box-shadow: 0 0 2px black;
    color: var(--primaryLighter);
}

/* ! End of Button Section */
/* ? end of hero */

/* ? About Me Section */
#aboutToCenter {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 75px;
}

#aboutMeBox {
    display: flex;
    width: 76.5vw;
    margin: 0;
    font-size: 1.2rem;
    cursor: default;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    height: 320px;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#aboutMeHeaderBox {
    text-align: center;
    width: 45vw; 

    box-shadow: 0 0 1px black;
    background-color: var(--backgroundTP);

}
#aboutMeHeader {
    color: black;
}
#aboutMeContent {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/* ! Soft skills Section */

#softSkillsHeaderBox {
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px;

    border: solid black 2px;
    background-color: rgba(20,19,27,0.95);
    width: 100%;
}

#softSkillsHeader {
    font-size: 1.5rem;
    word-spacing: 2px;
    color: rgb(222, 222, 222);
}
#softSkillsxArrowBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#softSkillsBox {
    width: 27.5vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: var(--backgroundTP);
    box-shadow: 0 0 5px var(--background);
    cursor: default;    
}

#softSkills {
    height: 275px;
    width: 21.5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
#softSkills li {
    grid-column: span 1;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}
/* ! Tech Stack Section */

#techStackHeaderBox {
    text-align: center;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 10px;

    border: solid black 2px;
    background-color: rgba(20,19,27,0.95);
}

#techStackHeader {
    font-size: 1.5rem;
    word-spacing: 2px;
    color: rgb(222, 222, 222);
}

#techStackBox {
    flex-direction: row;
    background-color: var(--backgroundTP);
    box-shadow: 0 0 5px var(--background);
    cursor: default;
    /* display: none; */
}

#techStack {
    display: flex; 
    justify-content: space-around;
    width: 76.5vw;
    padding: 20px;

}


.codingLanguages {
    grid-column: span 3;
}

/* ! Tech Stack Icon Styling */
.icon {
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon:hover, #dark:hover { 
    transition: all 0.1s ease-in-out;
    transform: scale(1.15);
}

.fa-js {
    color: black;
}
.fa-react {
    color: hsl(183, 57%, 49%);
}

.fa-python {
    color: black;

}
.fa-css3-alt {
    color: hsl(220, 89%, 65%);
}

.fa-html5 {
    color: hsl(24, 100%, 55%);
}
.fa-node-js {
    color: hsl(79, 73%, 25%);
}
.fa-brands {
    text-decoration: none;
    font-size: 2rem;
    font-style: none;
}
 .fa-git-alt{
    color: hsl(24, 100%, 55%);
}

.fa-database {
    color: hsl(220, 89%, 65%);
    font-size: 1.4rem;
}

.fa-code {
    font-size: 1.2rem;
}

.fa-sass {
    color: rgb(169, 107, 118);
}
/* ! Landing page Down button*/
#aboutArrowBox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-self: center;
    margin-top: 20px;
    width: 76.5vw;


}
#aboutArrowBox li {
    font-size: 1.2rem;
    gap: 10px;
    align-self: center;
}
#viewCVAboutText {
    margin-right: 10px;
}
#aboutArrow {
    padding: 10px 15px;
    margin-left: 10px;
}
#aboutCV {
    padding: 10px;
    margin-right: 10px;
}
#aboutArrow, #aboutCV {
    transition: all .2s ease-in-out;

    align-self: flex-end;
    justify-self: flex-start;
    background-color: goldenrod;
    border:black 3px solid;
    box-shadow: 0 0 2px black;
    color: var(--darkModeDark);
    font-size: 1.2rem;
    cursor:pointer;
}
#aboutArrow:hover, #aboutCV:hover {
    background-color: rgba(20,19,27,0.95);
    color: var(--primaryLighter);
    box-shadow: 0 0 2px black;
    border: black solid 3px;
}
#aboutArrow:active, #contactButton:active, #heroArrow:active, .headerNavs:active, #g-icon:active, #popUpSubmit:active, #aboutCV:active {
    transform: scale(0.90);
    opacity: 50%;
}

/* ! End of Button Section */
/* ? End of About Section */

/* ? Projects Section */
#projectsToCenter {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125vh;
    gap: 50px;
    width: 75vw;

}

#projectsBox {
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    cursor: default;

    justify-content: center;
    align-items: center;
}

#projectsHeaderBox {
    justify-self: center;
    grid-column: span 2;
    width: 75vw;
    background-color: hsl(36, 43%, 78%);
    box-shadow: 0 0 1px black;
    text-align: center;
    padding: 5px;
}
#projectsHeader {
    color: black;
}
/* ? Card icon styling */
#diceIcon, #snakeIcon, #eightBallIcon {
    font-size: 2.5rem;
    color: rgb(97, 0, 0);
}
#diceBox, #snakeBox, #eightBallBox {
    background-color: hsl(36, 43%, 78%);
    box-shadow: 0 0 5px var(--background);
}
#snakeButton, #diceButton, #eightBallButton {
    transition: all 0.2s ease-in-out;
    background-color: goldenrod;
    border: black 3px solid;
    box-shadow: 0 0 2px black;
    color: var(--background);
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}
#snakeButton:hover, #diceButton:hover, #eightBallButton:hover {
    transition: all 0.3s ease-in-out;
    background-color: rgba(20,19,27,0.95);
    box-shadow: 0 0 2px black;
    border: var(--backgroundTP) solid 3px;
    color: white;
}
#snakeButton:active, #diceButton:active, #eightBallButton:active {
    opacity: 50%;
}

.projectCardHeader {
    font-size: 1.5rem;

    color: white;
    background-color: rgba(20,19,27,0.95);
    padding: 10px 0;
    width: 100%;
    border: 2px solid black;
    box-shadow: 0 0 1px black;
}
.projectCardHeaderBox {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 0;
    width: 100%;
}
.projectCard {
    padding: 20px 20px 30px 20px;
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: justify;
}

.projectCardButton a {
    color: black;
    text-decoration: none;
}

#footerSeparator {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    height: 50vh;
    width: 100vw;
    transition: all 0.5s ease-in-out;
}
#footerSeparator h3 {
    font-size: 3rem;
}
#footerDivider {
    height: 70px;
}
/* Footer styling */
#footerToCenter {
    bottom: 0;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(36, 43%, 70%);
    box-shadow: 0 0 2px black; 
    height: 8.9vh; 
    transition: background-color 0.3s ease-in-out;
    z-index: 10;
}
#footerSeparator.expanded {
    height: 15vh;
    transition: height 3s ease-in-out;
}
#footerToCenter.expanded {
    height: 14.95vh; 
    transition: height 3s ease-in-out, background-color 0.3s ease-in-out;
}

#footerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 0;
}

#footerHighlight {
    color: rgb(97, 0, 0);
    font-weight: bolder;
}

#socialmedia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.fa-discord {
    font-size: 1.8rem;
}

.social-icons {
    margin: 20px 0;
}

#footerText {
    display: none;
    text-align: center;
}
#thankYou {
    color: rgb(97, 0, 0);
}
#copyright {
    margin: 5px 0 10px 0;
}
#docBottom{
    position: sticky;
    bottom: 0;

}

.projectIcon {
    font-size: 48px;
    color: #333;
}

.fa-shake {
    animation: shake 2s infinite;
}
#linkedin {
    margin-left: 2px;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}


/* Media Queries for responsiveness ans accessibility */
@media only screen and (max-width: 1242px) {
    #mainSection {
        gap: 30vh;
    }
    #aboutMeBox {
        flex-direction: column;
        height: fit-content;
    }
    #aboutMeToCenter {
        height: max-content;
    }
    #aboutMeContent {
        width: 70%;
        text-align: center;
    }
    #aboutMeHeaderBox {
        width: 100%;
    }
    #softSkillsBox {
        height: fit-content;
    }
    #softSkillsBox {
        width: 76.5vw;
    }
    #softSkills {
        height: max-content;
        padding: 0;
        margin: 0;
        width: 100%;
        gap: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }
    #softSkills li {
        grid-column: span 1;
        padding: 15px;
    }
}
@media only screen and (max-width: 1153px) {
    .projectCard {
        grid-column: span 2;
        text-align: center;
    }
    #projectsToCenter {
        margin-top: 20vh;
    }
}
@media only screen and (max-width: 1118px) {
    #heroBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #imgContainer {
        margin: 100px 0 0 0;
        height: 300px;
        width: 300px;
    }
    #aboutToCenter {
        margin: 300px 0;
    }

    #contactFormHeaderBox .responseRemove {
        display: none;
    }
    #popUpRightHeader {
        font-size: 3rem;
    }

}
@media only screen and (max-width: 968px) {
    #mainSection {
        gap: 30vh;
    }
    #projectsToCenter {
        margin-top: 50vh;
    }
    #popUpRightBox {
        display: none;
    }
    #contactFormBox {
        width: 100%;
    }
    .leftCVButton {
        display: block;
        text-align: center;
    }
    #eightBallBox {
        margin: 0 0 100px 0;
    }
}

@media only screen and (max-width: 856px) {

    #imgContainer {
        margin: 0;
        margin: 100px 0 20px 0;
        height: 250px;
        width: 250px;
        box-shadow: 0 0 10px black;
    }
    #techStack {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        justify-content: center;
        align-content: center;
    }
    .codingLanguages {
        padding: 15px;
        grid-column: span 1;
    }
    #contactButton, .projectCardButton {
        padding: 5px 10px;
    }

    .projectCardHeader {
        padding: 5px;
    }
    #footerText h3 {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    #headerName {
        display: none;
    }
    .responseRemove {
        display: none;
    }
    #heroArrow {
        display: none;
    }
    #aboutToCenter, #projectsToCenter {
        display: flex;
        height: 100vh;
    }

    #footerToCenter {
        margin-top: 150px;
    }

    #contactFormBox .inputField {
        padding: 0;
        margin: 0;
        font-size: 0.9rem;
    }
    #contactForm {
        margin: 0;
    }
}

@media only screen and (max-width: 838px) {
    #footerSeparator h3 {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 648px) {
    .h-navs {
        display: none;
    }
    #hamburgerIcon {
        display: block;
        color: black;
        margin-left: 10px;
        font-size: 1.3rem;
    }

    #hamburgerBox {
        position: fixed;
        box-shadow: 0 0 1px black;
        bottom: 9vh;
        left: 0;
        z-index: 998;
        width: 100vw;
        background-color: rgba(220, 202, 172, 0.95);
        height: fit-content;
    }
    
    #hamburger {
        display: grid;       
        text-align: center;
        grid-template-columns: repeat(3, 1fr); 
        align-items: stretch; 
        width: 100%;
        height: 100%; 
        margin: 0;
        padding: 0;
    }
    
    .hamburgerNavs {
        padding: 12px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 1px black;
        box-sizing: border-box;
    }

    .hamburgerNavs:active {
        opacity: 50%;
    }


}
@media only screen and (max-width: 680px) {

    #mainSection {
        gap: 33vh;
    }
    #aboutArrowBox {
        flex-direction: column-reverse;
        gap: 10px;
    }
    #softSkills {
        grid-template-columns: repeat(2, 1fr);
    }
    #softSkills li {
        grid-column: span 1;
    }
    #softSkillsBox {
        width: 330px;
    }
    #techStack {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .codingLanguages {
        grid-column: span 1;
    }
    #footerText {
        display: none;
    }
}


@media only screen and (max-width: 565px) {
    #footerText h3 {
        display: none;
    }
}
@media only screen and (max-width: 517px) {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.2rem;
    }
    #aboutMeContent p {
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 476px) {
    #footerSeparator h3 {
        font-size: 1.5rem;
    }
    #footerSeparator p {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 414px) {
    .tinyResponse {
        display: none;
    }
}
